{% extends "main.html" %}


{% block content %}
{% include "header.html" %}

<div>
	<section class="hero is-small is-primary is-bold">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">
					Create new catalog Item
				</h1>
			</div>
		</div>
	</section>
	<div>
		<form method="post">
			<!-- name -->
			<div class="field">
				<label class="label">Name</label>
				<div class="control">
					<input class="input" type="text" name="name" required>
				</div>
			</div>
			<!-- price -->
			<div class="field">
				<label class="label">Price</label>
				<div class="control has-icons-left">
					<input class="input" type="text" maxlength="10" name="price" required>
					<span class="icon is-small is-left">
						<i class="fas fa-dollar-sign"></i>
					</span>
				</div>
			</div>
			<!-- description -->
			<div class="field">
				<label class="label">Description</label>
				<div class="control">
					<textarea class="textarea" maxlength="250" rows="3" name="description" required></textarea>
				</div>
			</div>
			<!-- category select -->
			<div class="field">
				<div class="control">
					<div class="select is-rounded">
						<select name="category">
							{% for c in categories %}
							{% if item and item.category_id == c.id %}
							<option id="{{c.id}}" value="{{c.id}}" selected>{{c.name}}</option>
							{% else %}
							<option id="{{c.id}}" value="{{c.id}}">{{c.name}}</option>
							{% endif %}
							{% endfor %}
						</select>
					</div>
				</div>
			</div>

			<div class="field is-grouped">
				<!-- submit button -->
				<div class="control">
					<button type="submit" class="button is-link">Create</button>
				</div>
			</div>
		</form>
		<!-- Cancel button -->
		<div class="control">
			<button class="button is-text"><a href="{{ url_for('showCatalog')}}">Cancel</a></button>
		</div>
	</div>
</div>

{% endblock %}